
/* general selectors */
.custom-container{
    max-width: 768px;
    margin: 0 auto;
}

.h-400px {
    height: 400px;
}

.h-300px {
    height: 300px;
}

.h-200px {
    height: 200px;

}

.h-100px {
    height: 100px;
}

.h-75px {
    height: 75px;
}

.h-50px {
    height: 50px;
}

.h-25px {
    height: 25px;
}

.custom-bg-color-acqua {
    background-color: #1abc9c;
}

.custom-bg-color-grey {
    background-color: #3a546d;
}

.bg-white {
    background-color: white;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

/* header selectors */
.custom-header-bg-color {
    background-color: #2c3e50;
}

.custom-menu-color {
    color: #888888;
}

/* main selectors */
#smiling-guy-pic {
    height: 280px;
}

#custom-cabin {
    background-image: url(../img/cabin.png);
    background-size: contain;
    background-position: center;
}

#custom-cake {
    background-image: url(../img/cake.png);
    background-size: contain;
    background-position: center;
}

#custom-circus {
    background-image: url(../img/circus.png);
    background-size: contain;
    background-position: center;
}

#custom-game {
    background-image: url(../img/game.png);
    background-size: contain;
    background-position: center;
}

#custom-safe {
    background-image: url(../img/safe.png);
    background-size: contain;
    background-position: center;
}

#custom-submarine {
    background-image: url(../img/submarine.png);
    background-size: contain;
    background-position: center;
}
